<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75815150478-2hemndeal3d1ala5cfripdj9job763u3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75815150478-2hemndeal3d1ala5cfripdj9job763u3</string>
	<key>API_KEY</key>
	<string>AIzaSyC0AibqjzNeIOQ2d6YSX4crLaRvxUEZVrE</string>
	<key>GCM_SENDER_ID</key>
	<string>75815150478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.driverApp</string>
	<key>PROJECT_ID</key>
	<string>stock-bot-e1aa7</string>
	<key>STORAGE_BUCKET</key>
	<string>stock-bot-e1aa7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75815150478:ios:e58a333f8758aaed5c7adf</string>
</dict>
</plist>